body {
    font-family: "Poppins", sans-serif;
    background-color: hsl(0, 0%, 98%);
}

.container {
	width: 305px;
	margin: 30px auto 0px;
    overflow: hidden;
    padding: 20px 20px 100px 20px;
}

h1 {
    color: hsl(229, 6%, 66%);
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 0.2px;
    word-spacing: 3px;

}

h2 {
    color: hsl(234, 12%, 34%);
    font-size: 24px;
    margin-top: -15px;
    letter-spacing: 0.2px;
    word-spacing: 3px;
}

h3 {
    color: hsl(234, 12%, 34%);
    font-size: 18px;
    margin-top: 15px;
}

.desc_p {
    font-size: 14px;
    text-align: center;
    color: hsl(229, 6%, 66%);
    margin-top: -10px;
    margin-bottom: 70px;    
}

p {
    margin-top: -15px;
    font-size: 14px;
    color: hsl(229, 6%, 66%);
}

img{
    width: 60px; 
    height: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
 }

.servicios {
    border-radius: 5px;
    box-shadow: 5px 5px 15px -10px hsl(234, 12%, 34%);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 15px 0px 15px;
}

.cdiv1 {
    border-top: 3px solid hsl(180, 62%, 55%);
}

.cdiv2 {
    border-top: 3px solid hsl(0, 78%, 62%);
}

.cdiv3 {
    border-top: 3px solid hsl(34, 97%, 64%);
}

.cdiv4 {
    border-top: 3px solid hsl(212, 86%, 64%);
}


.der_img {
    text-align: right;
}